@use "../media" as *;
@use "../mixins" as *;

.inner {
  margin: 80px auto;
  text-align: center;

  img {
    border-radius: var(--border-radius-large);
  }

  @include tablet {
    margin-top: 40px;
    margin-bottom: 60px;
  }

  &__title {
    margin-bottom: 32px;

    @include mobile {
      margin-bottom: 16px;
    }
  }

  &__meta {
    justify-content: center;
    margin-bottom: 48px;

    @include mobile {
      margin-bottom: 20px;
    }
  }

  &__description {
     max-width: 1060px;
     margin-bottom: 64px;

     @include mobile {
      margin-bottom: 30px;
     }
  }
}